*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* navbar start */
.navbar{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    background: var(--primary-50, #EBF5FF);
}

.navbar-brand{
    font-family: Norican;
    font-size: 36px;
    font-weight: 400 !important;
    line-height: 54px;
    letter-spacing: 0.06em;
    text-align: left;
    color:#1A56DB !important;
}

.navbar-nav {
    margin-left: 50px !important; 
}

.nav-link{
    font-family: Mouse Memoirs;
    font-size: 18px !important;
    font-weight: 400 !important;
    line-height: 27px !important;
    letter-spacing: 0.1em;
    /* text-align: center; */
    color: black;    
    margin-left: 30px;
}

.nav-link:hover{
    color: #1A56DB !important; ;
}

.active{
    color: #1A56DB !important; ;
}

.login-text {
    display: flex;
    align-items: center;
    margin-right: 10px; 
}

.navbar-text{
    font-family: Mouse Memoirs;
    font-size: 18px;
    font-weight: 400 !important;
    line-height: 27px;
    letter-spacing: 0.04em;
    text-align: left;
    color: black;   
}

.nav-btn{
    width: 144px;
    height: 47px;
    padding: 6px;
    gap: 2;
    border-radius: 50px;
    opacity: 0px;
    text-decoration: none;
    font-family: Mouse Memoirs;
    font-size: 18px;
    font-weight: 400 !important;
    line-height: 27px;
    letter-spacing: 0.04em;
    text-align: center !important;
    justify-content: center !important;
    border: none;
    background: #1A56DB !important;
    color: white !important;
    
}
/* nav section end */

/* hero section start */
.hero{
    text-align: center;
    justify-content: center;
    width: Fixed (1,440px)px;
    height: Fixed (220px)px;
    top: 102px;
    gap: var(--0);
    opacity: 0px;
    background-image: url('images/Hero (1).png') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}
/* hero section end */

/* card form start */
.card-form{
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 60px;
}

.card{
    border-radius: 24px !important;
    border: none !important;
    box-shadow: 0px 1px 8.7px -1px #0000001A;

    box-shadow: 0px 2px 3px 0px #0000001A;
    background: var(--white, #FFFFFF);
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    padding: 20px;
}

.card-title{
    font-family: Mouse Memoirs;
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--primary-500, #3F83F8) !important;
}

.form-label{
    font-family: Mouse Memoirs;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;  
    color: var(--gray-700, #374151) !important;
}

.custom-rounded{
    border-radius: 24px !important;
    height: 42px !important;
    width: 384px !important;
    
}

.form-space-grey{
    background-color: white;
    
}

.form-space-grey input{
    background-color: #D1D5DB;
}

.form-space-grey input:focus{
    box-shadow: none;
    outline: none;
    border: 1px solid #D1D5DB;
    background-color: #D1D5DB;
}

.btn-form{
  width: 384px;
  height: 44px;
  border-radius: 50px;
  background: var(--primary-700, #1A56DB);
  font-family: Mouse Memoirs;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  border: none !important;
  color: white;
}
/* card form end */

/* new program/(register) start */
.new-program{
    padding-top: 80px;
    padding-bottom: 80px;
    background: var(--primary-50, #EBF5FF);

}

.new-program-head{
    font-family: Mouse Memoirs;
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0.06em;
    text-align: left;
    color: black;
}

.program-rounded{
    border-radius: 24px !important;
    height: 48px !important;
}

.program-rounded:focus{
    box-shadow: none !important;
    border: none !important;
}

.btn-new-program{
  width: 100%;
  background: var(--primary-600, #1C64F2) !important;
  margin-top: 20px !important;
  height: 55px;
  border-radius: 50px !important;
  font-family: Mouse Memoirs !important;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.04em;
  color: white !important;
}
/* new program/(register) end */

/* footer start */
.footer{
    background: var(--gray-800, #1F2A37);
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
}

.footer-head{
    font-family: Norican;
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0.06em;
    color: #1A56DB
}

.footer-words{
    font-family: Mouse Memoirs;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--primary-200, #C3DDFD); 
}

.container-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-list{
    margin: 10px 15px;
    font-family: Mouse Memoirs;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: center;
    color: white !important;
}

.footer-words-ii{
    font-family: Mouse Memoirs;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.04em;
    text-align: center;
    color: white;
}

.footer-link{
    text-decoration: none !important;
    cursor: pointer;
}
/* footer end */